body{
    background-color: whitesmoke;
}

#cabecera{
    text-align: center;
}

h1{
    text-align: center;
}

h3{
    font-style: italic;
}

li{
    border: 2px solid black;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

#footer{
    text-align: center;
}